*{
    box-sizing: border-box;
}
body{
    margin: 0; height: 100vh; display: flex; justify-content: center; align-items: center; background: linear-gradient(45deg, #ccc, #eee);
}
section.profile-card{
    width: 100%; max-width: 400px; background: linear-gradient(blue, skyblue);
    display: flex; flex-direction: column; align-items: center;
    border-radius: 15px; padding: 20px;
}
.profile-image{
    width: 150px; height: 150px;
}
.profile-image .image{
    width: 100%; height: auto; border-radius: 50%;
}
.text-content > #name{
    text-align: center; margin: 15px auto 10px; font-size: 28px;
}
.text-content > #job{
    text-align: center; margin: 5px auto; font-weight: 400;
}

/* Social Media */
.social-media{
    margin: 15px auto;
}
.social-media > i{
    padding: 10px; border-radius: 50%; color: white;
}
.fa-facebook-f{
    background-color: blue;
}